header{
    background-color: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px #CCCCCC;
}


header{
    background-image: url(../images/logo.png);
    height: 70px;
    background-repeat: no-repeat;
    background-position: 20px center;
    border-bottom: 1px solid #CCCCCC;
}